{{!-- LOOP OVER EACH POST OBJECT IN THE POSTS ARRAY --}}
{{!-- TEMPLATE TO SHOW ALL POSTS ON HOMEPAGE. VIEWABLE WHETHER LOGGED IN OR NOT --}}
{{#each posts as |post|}}
<article class="message is-info">
    <div class="message-header">
        <h2>
            <a href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
    </div>
    <div class="message-body">
        <p>Created by <span class="created-by">{{post.user.username}}</span> on {{format_date date_created}}</p>
    </div>
</article>
{{/each}}