{{!-- Main Container --}}
<div class="row">

{{!-- Login --}}
<div>
<h2>Login</h2>
<form class="login-form block box">
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input form-input" placeholder="username" type="text" id="email-login">
        <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input class="input form-input" type="password" placeholder="password" id="password-login">
        <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control">
        <button class="button is-success btn" type="submit">
        Login
        </button>
    </p>
    </div>
</form>

<p class="not-current-member"><em>Not a current member? <br> Sign up below!</em></p>

{{!-- Sign up --}}

<h2>Signup</h2>
<form class="signup-form block box">
    <div class="field">
    <p class="control has-icons-left has-icons-right">
        <input class="input form-input" placeholder="username" type="text" id="name-signup">
        <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control has-icons-left">
        <input class="input form-input" type="password" placeholder="password" id="password-signup">
        <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
        </span>
    </p>
    </div>
    <div class="field">
    <p class="control">
        <button class="button is-success btn" type="submit">
        Sign up!
        </button>
    </p>
    </div>
</form>

<script src="./js/login.js"></script>